# Set 내장함수
<style>
    table {
        width: 100% !important;  /* 표를 전체 너비로 확장 */
        table-layout: auto; /* 셀 크기를 자동으로 조정 */
        word-wrap: break-word;
        white-space: normal; /* 텍스트가 자동으로 줄 바뀌지 않도록 설정 */
    }
    th, td {
        padding: 15px;
        border: 1px solid white;
    }
</style>

# **SET 내장함수 설명과 예시**


---


add(x)	집합에 요소 x 추가

---



remove(x)	요소 x 제거 (없으면 오류 발생)

---



discard(x)	요소 x 제거 (없어도 오류 없음)

---



pop()	임의의 요소 제거 후 반환 (순서 보장 X)

---



clear()	모든 요소 제거

---



copy()	: 집합을 복사하여 새 집합을 반환.

---



all()   :  반복 가능한 객체의 모든 요소가 True인지 확인

---



any()	: 반복 가능한 객체의 요소 중 하나라도 Ture면 true 반환

---



enumerate()	: (index, value) 형태로 반환하는 객체 생성 (순서 랜덤)

---



len()	: 집합의 크기 반환  .

---



max()	:  집합에서 가장 큰 데이터 반환

---



min()	: 집합에서 가장 작은 데이터 반환.

---



sorted()	:  값들을 정렬.

---



sum()	: 집합의 숫자 요소 합을 반환.

---



| **difference()**                |두 개 이상의 집합의 차집합을 새로운 집합으로 반환 |

---



| **difference_update()**         |다른 집합의 모든 요소를 현재 집합에서 제거|

---



| **intersection()**              | 두 집합의 교집합을 반환|

---



| **intersection_update()**       |둘 이상 set에서 공통요소 아닌 요소를 제거 |

---



| **intersection_update()**       |둘 이상 set에서 공통요소 아닌 요소를 제거 |

---

 **isdisjoint()**                |  두 집합이 공통 요소가 없는지 확인 |

 ---

| **issubset()**                  | 집합이 다른 집합에 포함되는지 확인|

 ---

| **issuperset()**                | 집합이 다른 집합을 포함하면 True를 반환 |

 ---

| **symmetric_difference()**      | 두 집합에서 공통되지 않는 요소들만 포함하는 새로운 집합을 반환|

 ---

| **symmetric_difference_update()** | 두 집합에서 공통되는 요소를 제거하고, 나머지 요소들로 현재 집합을 갱신 |

 ---

| **union()**                     |여러 집합의 합집합을 새로운 집합으로 반환|

 ---

| **update()**                    | 현재 집합에 다른 집합의 요소를 추가하여 합집합으로 만듬 |

 ---



 ---

In [ ]:
# add() 요소 추가

s1 = {1,2}

s1.add(3);

print(s1)  # {1,2,3}

{1, 2, 3}

In [ ]:
# remove() 요소 제거 (없으면 오류)

In [ ]:
s1 = {1,2,3}
s1.remove(2)
print(s1) # s1 = {1,3}

s1 = {1,2,3}
s1.remove(4)
print(s1)

{1, 3}

KeyError: 4

In [ ]:
# discard() (없어도 오류 없음)
s1 = {1,2,3}
s1.discard(4)
print(s1)

s2 = {1,2,3}
s2.discard(3)
print(s2)

{1, 2, 3}
{1, 2}

In [ ]:
# pop() 임의의 요소 제거 후 반환
s1 = {1,2,3}
x = s1.pop()
print(x,s1)  #  x 로 1이 임의로 제거

1 {2, 3}

In [ ]:
# clear() 모든 요소 제거
s1 = {1,2,3,4}
s1.clear()
print(s1) # set()

set()

In [ ]:
# copy() 새 집합을 복사 하여 반환
s1 = {1,2,3,4}
s2 = s1.copy()

print(s2) #{1,2,3,4}

{1, 2, 3, 4}

In [ ]:
# all() 반복 가능한 객체의 모든 요소가 true인지 확인 하나라도 아니면 false
s1 = {1,2,3,4}
print(all(s1)) # true

s2 = {0,3,3}
print(all(s2)) # false

True
False

In [ ]:
# any() 객체의 값중 하나라도 true 면 true
s1 = {0,0,0,3}
print(any(s1))

s2 = {0,False,""}
print(any(s2))

True
False

In [ ]:
# enumerate() 반복 가능한 객체의 값을 순회하면서 각 값과 해당 값의 인덱스를 함께 반환
s1 = {'가','나','다','라'}
for idx, value in enumerate(s1):
  print(idx,value)

0 가
1 나
2 다
3 라

In [ ]:
# len 객체의 길이(값의 수)를 반환
s1 = {1,2,3,4,5,6,7,8}
print(len(s1)) # 8

8

In [ ]:
# max 집합에서 가장 큰 수 반환
s1 = {2,3,4,99}
print(max(s1)) # 99

99

In [ ]:
# min 가장 작은 수 반환
s1 = {55,44,21,1}
print(min(s1)) # 1

1

In [ ]:
# sorted 집합의 값을 정렬
s1 = {88,33,1,3}
print(sorted(s1)) # 1,2,33,88

[1, 3, 33, 88]

In [ ]:
# sum 집합의 숫자 요소의 합 반환
s1 = {3,4,5,10}
print(sum(s1)) # 3+4+5+10 = 22

22

In [ ]:
# difference |두 개 이상의 집합의 차집합을 새로운 집합으로 반환 |
s1 = {1,2,3}
s2 = {3,4,5}

print(s1.difference(s2)) # {1,2}

{1, 2}

In [ ]:
# difference_update() |다른 집합의 모든 요소를 현재 집합에서 제거|
s1 = {3,4,5}
s2 = {1,3,5}
s1.difference_update(s2)
print(s1) # {4}

{4}

In [ ]:
#  intersection() | 두 집합의 교집합을 반환|
s1 = {3,4,5}
s2 = {1,3,5,9}

print(s1.intersection(s2)) #{3,5}

{3, 5}

In [ ]:
#  intersection_update() |둘 이상 set에서 공통요소 아닌 요소를 제거 |
s1 = {3,4,5}
s2 = {5,7,8}
s1.intersection_update(s2)
print(s1) # 5

{5}

In [ ]:
# isdisjoint() | 두 집합이 공통 요소가 없는지 확인 |
s1 = {3,4,5}
s2 = {1,3,7}

print(s1.isdisjoint(s2))  # 있으면 False

s3 = {3,5,7}
s4 = {4,8,9}

print(s3.isdisjoint(s4)) # 없으면 true

False
True

In [ ]:
#  issubset() | 집합이 다른 집합에 포함되는지 확인|
s1 = {3,4,5}
s2 = {1,2,3,4,5}

print(s1.issubset(s2)) # true

True

In [ ]:
# issuperset() | 집합이 다른 집합을 포함하면 True를 반환 |
s1 = {3,4,5,6,7}
s2 = {5,6,7}

print(s1.issuperset(s2)) # true
print(s2.issuperset(s1)) # false

True
False

In [4]:
#  symmetric_difference() | 두 집합에서 공통되지 않는 요소들만 포함하는 새로운 집합을 반환|
s1 = {3,4,5,6}
s2 = {3,5,7,9,15}

print(s1.symmetric_difference(s2)) # {4,6,7,9,15}

{4, 6, 7, 9, 15}

In [15]:
# symmetric_difference_update() | 두 집합에서 공통되는 요소를 제거하고, 나머지 요소들로 현재 집합을 갱신 |
s1 = {3,5,7}
s2 = {5,7,15}

s1.symmetric_difference_update(s2)

print(s1) # {3,15}

{3, 15}

In [13]:
# union() |여러 집합의 합집합을 새로운 집합으로 반환|
s1 = {1,2,3}
s2 = {4,5,6}

print(s1.union(s2)) #{1,2,3,4,5,6}

{1, 2, 3, 4, 5, 6}

In [20]:
# update() | 현재 집합에 다른 집합의 요소를 추가하여 합집합으로 만듬 |
s1 = {1,2,3}
s2 = {4,5,6}

s1.update(s2)

print(s1) #1,2,3,4,5,6

{1, 2, 3, 4, 5, 6}